<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: rgb(255, 255, 255);">
    <h1 style="color: rgb(141, 20, 20); text-align: center;">Show Data</h1>
    <hr>
    <!-- {% for i in data%}
    {{i.name}}<br>
    {{i.email}}<br>
    {{i.dob}}<br>
    {{i.mobile}}<br>
    {{i.address}}<br><hr>
    {% endfor%} -->
    <table border="2" align="center">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>email</th>
            <th>dob</th>
            <th>mobile</th>
            <th>address</th>
            <th>Action</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.dob}}</td>
            <td>{{i.mobile}}</td>
            <td>{{i.address}}</td>
            <td>
                <a href="/deletedata/{{i.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>